
* {
    margin: 0;
    border: none;
    padding: 0;
    box-sizing: border-box;
    line-height: 1;
}

html, body {
    width: 100%;
    height: 100%;
    background: #111;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#gamecanvas {
    touch-action: none;
}
svg#gamecanvas text {
    user-select: none;
}
